%li
  .row
    .col-md-8.col-lg-7
      %strong.light-header= hook.url
      %div
        - %w(push_events tag_push_events issues_events confidential_issues_events note_events merge_requests_events job_events pipeline_events wiki_page_events).each do |trigger|
          - if hook.send(trigger)
            %span.label.label-gray.deploy-project-label= trigger.titleize
    .col-md-4.col-lg-5.text-right-lg.prepend-top-5
      %span.append-right-10.inline
        SSL verification: #{hook.enable_ssl_verification ? "enabled" : "disabled"}
      %span.append-right-10.inline
        Kerberos authentication: #{hook.kerberos ? 'enabled' : 'disabled'}
      = link_to "Edit", edit_namespace_project_hook_path(@project.namespace, @project, hook), class: "btn btn-sm"
      = link_to "Test", test_namespace_project_hook_path(@project.namespace, @project, hook), class: "btn btn-sm"
      = link_to namespace_project_hook_path(@project.namespace, @project, hook), data: { confirm: 'Are you sure?'}, method: :delete, class: "btn btn-transparent" do
        %span.sr-only Remove
